# dependencies
node_modules/

# build output
dist/
.vercel/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local
supabase/.temp/

# typescript
*.tsbuildinfo
.vercel
